@{
    Layout = null;
}

<!-- light-blue - v4.0.1 - 2018-10-31 -->

<!DOCTYPE html>
<html>
<head>
    <title>Monitor de Temperatura</title>

    <link href="~/Content/css/application.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/Content/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Javier Cárdenas - William Pinto">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
</head>
<body>
    <div class="logo">
        <h4><a href="~/Home/Index.cshtml">TempMonitor <strong>WJ</strong></a></h4>
    </div>
    <nav id="sidebar" class="sidebar nav-collapse collapse">
        <ul id="side-nav" class="side-nav">
            <li class="active">
                <a href="~/Home/Index.cshtml"><i class="fa fa-home"></i> <span class="name">Principal</span></a>
            </li>
            <li class="">
                <a href="~/Home/typography.html"><i class="fa fa-font"></i> Tipografía</a>
            </li>
            </li>
            <li class="">
                <a href="~/Home/tables.html"><i class="fa fa-table"></i> Tablas</a>
            </li>
            </li>
            <li class="">
                <a href="~/Home/notifications.html"><i class="fa fa-bell"></i> Notificaciones</a>
            </li>
            </li>
            <li class="panel ">
                <a class="accordion-toggle collapsed" data-toggle="collapse"
                   data-parent="#side-nav" href="#elements-collapse"><i class="fa fa-magic"></i> <span class="name">Elementos</span></a>
                <ul id="elements-collapse" class="panel-collapse collapse ">
                    <li class=""><a href="~/Home/charts.html">Gráficos</a></li>
                    <li class=""><a href="~/Home/icons.html">Iconos</a></li>
                    <li class=""><a href="~/Home/maps.html" data-no-pjax>Mapas</a></li>
                </ul>
            </li>
        </ul>

        <h5 class="sidebar-nav-title">Etiquetas <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>
        <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
        <ul class="sidebar-labels">
            <li>
                <a href="#">
                    <!-- yep, .circle again -->
                    <i class="fa fa-circle text-warning"></i>
                    <span class="label-name">Recientes</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle text-gray"></i>
                    <span class="label-name">Destacado</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle text-danger"></i>
                    <span class="label-name">En 2do Plano</span>
                </a>
            </li>
        </ul>

        <h5 class="sidebar-nav-title">Proyectos/h5>
        <!-- A place for sidebar notifications & alerts -->
        <div class="sidebar-alerts">
            <div class="alert fade in">
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <span class="text-white fw-semi-bold">Reporte de Ventas</span> <br>
                <div class="progress progress-xs mt-xs mb-0">
                    <div class="progress-bar progress-bar-gray-light" style="width: 16%"></div>
                </div>
                <small>Calculando desviación eje x... 65%</small>
            </div>
            <div class="alert fade in">
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <span class="text-white fw-semi-bold">Responsabilidad Personal</span> <br>
                <div class="progress progress-xs mt-xs mb-0">
                    <div class="progress-bar progress-bar-danger" style="width: 23%"></div>
                </div>
                <small>Proporcionar notas requeridas</small>
            </div>
        </div>
    </nav>    <div class="wrap">
        <header class="page-header">
            <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="visible-phone-landscape">
                        <a href="#" id="search-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" title="Messages" id="messages"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="glyphicon glyphicon-comment"></i>
                        </a>
                        <ul id="messages-menu" class="dropdown-menu messages" role="menu">
                            <li role="presentation">
                                <a href="#" class="message">
                                    <img src="~/Content/img/1.png" alt="">
                                    <div class="details">
                                        <div class="sender">Javier Cárdenas</div>
                                        <div class="text">
                                            Hey, Profe! Como vamos? ...
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="message">
                                    <img src="~/Content/img/2.png" alt="">
                                    <div class="details">
                                        <div class="sender">Uriel Carrero</div>
                                        <div class="text">
                                            Profe, esta página está increible
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="message">
                                    <img src="~/Content/img/3.png" alt="">
                                    <div class="details">
                                        <div class="sender">William Pinto</div>
                                        <div class="text">
                                            Hola, Soy William, mucho gusto trabajar con ustedes
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-align-center see-all">
                                    Ver todos los Mensajes <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" title="8 support tickets"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="glyphicon glyphicon-globe"></i>
                            <span class="count">8</span>
                        </a>
                        <ul id="support-menu" class="dropdown-menu support" role="menu">
                            <li role="presentation">
                                <a href="#" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-important"><i class="fa fa-bell-o"></i></span>
                                    </div>
                                    <div class="details">
                                        Mira este increible detalle
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-warning"><i class="fa fa-question-circle"></i></span>
                                    </div>
                                    <div class="details">
                                        "Cual sería la mejor forma de obtener...
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-success"><i class="fa fa-tag"></i></span>
                                    </div>
                                    <div class="details">
                                        Esta es solo una simple notificación
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="support-ticket">
                                    <div class="picture">
                                        <span class="label label-info"><i class="fa fa-info-circle"></i></span>
                                    </div>
                                    <div class="details">
                                        12 nuevas ordenes llegan hoy
                                    </div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="text-align-center see-all">
                                    Ver todas las Notificaciones<i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="hidden-xs">
                        <a href="#" id="settings"
                           title="Settings"
                           data-toggle="popover"
                           data-placement="bottom">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                    </li>
                    <li class="hidden-xs dropdown">
                        <a href="#" title="Account" id="account"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                        <ul id="account-menu" class="dropdown-menu account" role="menu">
                            <li role="presentation" class="account-picture">
                                <img src="~/Content/img/2.png" alt="">
                                Alberto Cabuya
                            </li>
                            <li role="presentation">
                                <a href="form_account.html" class="link">
                                    <i class="fa fa-user"></i>
                                    Perfil
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="component_calendar.html" class="link">
                                    <i class="fa fa-calendar"></i>
                                    Calendario
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="link">
                                    <i class="fa fa-inbox"></i>
                                    Bandeja de Entrada
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="visible-xs">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="hidden-xs"><a href="login.html"><i class="glyphicon glyphicon-off"></i></a></li>
                </ul>
                <form id="search-form" class="navbar-form pull-right" role="search">
                    <input type="search" class="form-control search-query" placeholder="Buscar">
                </form>
                <div class="notifications pull-right">
                    <div class="alert pull-right">
                        <a href="#" class="close ml-xs" data-dismiss="alert">&times;</a>
                        <i class="fa fa-info-circle mr-xs"></i> Mira las <a id="notification-link" href="#">configuraciones</a> de la plantilla a la derecha!
                    </div>
                </div>
            </div>
        </header>        <div class="content container">
            <h2 class="page-title">Tablero <small>Estadísticas y más</small></h2>
            <div class="row">
                <div class="col-lg-8">
                    <section class="widget">
                        <header>
                            <h4>
                                Temperatura x hora
                                <small>
                                    Basadas en el promedio de datos de 3 meses
                                </small>
                            </h4>
                            <div class="widget-controls">
                                <a title="Opciones" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                                <a data-widgster="expand" title="Expandir" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                <a data-widgster="collapse" title="Colapsar" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a data-widgster="close" title="Cerrar" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </header>
                        <div class="body no-margin">
                            <div id="visits-chart" class="chart visits-chart">
                                <svg></svg>
                            </div>
                            <div class="visits-info well well-sm">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="key"><i class="fa fa-users"></i> Temperatura Máxima</div>
                                        <div class="value">35.4 °C <i class="fa fa-caret-up color-green"></i></div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="key"><i class="fa fa-bolt"></i> Temperatura Mínima</div>
                                        <div class="value">14.3 °C <i class="fa fa-caret-down color-red"></i></div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="key"><i class="fa fa-plus-square"></i> Alertas Reportadas</div>
                                        <div class="value">12 <i class="fa fa-caret-up color-green"></i></div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="key"><i class="fa fa-user"></i> Estado del Sistema</div>
                                        <div class="value">Mantenimiento Requerido <i class="fa fa-caret-down color-red"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="widget">
                        <header>
                            <h4>
                                Temperatura promedio hora x dia
                                <small>
                                    Seguimiento de 1 mes
                                </small>
                            </h4>
                            <div class="widget-controls">
                                <a data-widgster="expand" title="Expandir" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                <a data-widgster="collapse" title="Colapsar" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                                <a data-widgster="close" title="Cerrar" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </header>
                        <div class="widget-table-overflow">
                            <table class="table table-striped table-lg mt-sm mb-0 sources-table">
                                <thead>
                                    <tr>
                                        <th class="source-col-header">Dia</th>
                                        <th>Promedio °C</th>
                                        <th>Cambio dia anterior</th>
                                        <th class="hidden-xs">Min °C</th>
                                        <th>Max °C</th>
                                        <th class="chart-col-header hidden-xs">Gráfica</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="label label-important">Lunes</span></td>
                                        <td>20</td>
                                        <td><strong class="color-green">+1.2</strong></td>
                                        <td class="hidden-xs">12</td>
                                        <td>25</td>
                                        <td class="chart-cell hidden-xs">
                                            <div id="direct-trend"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="label label-warning">Martes</span></td>
                                        <td>20</td>
                                        <td><strong>0</strong></td>
                                        <td class="hidden-xs">15</td>
                                        <td>28</td>
                                        <td class="chart-cell hidden-xs">
                                            <div id="refer-trend"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="label label-success">Miercoles</span></td>
                                        <td>18</td>
                                        <td><strong class="color-red">-2</strong></td>
                                        <td class="hidden-xs">10</td>
                                        <td>24</td>
                                        <td class="chart-cell hidden-xs">
                                            <div id="social-trend"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="label label-info">Jueves</span></td>
                                        <td>23</td>
                                        <td><strong class="color-green">+5</strong></td>
                                        <td class="hidden-xs">19</td>
                                        <td>25</td>
                                        <td class="chart-cell hidden-xs">
                                            <div id="search-trend"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="label label-inverse">Viernes</span></td>
                                        <td>23</td>
                                        <td><strong>0</strong></td>
                                        <td class="hidden-xs">19</td>
                                        <td>28</td>
                                        <td class="chart-cell hidden-xs">
                                            <div id="internal-trend"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section class="widget large">
                        <header>
                            <h4>
                                Chat
                            </h4>
                            <div class="widget-controls">
                                <a title="Opciones" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                                <a data-widgster="close" title="Cerrar" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </header>
                        <div class="body">
                            <div id="chat" class="chat">
                                <div id="chat-messages" class="chat-messages">
                                    <div class="chat-message">
                                        <div class="sender pull-left">
                                            <div class="icon">
                                                <img src="~/Content/img/2.png" class="img-circle" alt="">
                                            </div>
                                            <div class="time">
                                                4 min
                                            </div>
                                        </div>
                                        <div class="chat-message-body">
                                            <span class="arrow"></span>
                                            <div class="sender"><a href="#">Uriel Carrero</a></div>
                                            <div class="text">
                                                Que pasó Willy? Todo bien o qué?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-message">
                                        <div class="sender pull-right">
                                            <div class="icon">
                                                <img src="~/Content/img/1.png" class="img-circle" alt="">
                                            </div>
                                            <div class="time">
                                                3 min
                                            </div>
                                        </div>
                                        <div class="chat-message-body on-left">
                                            <span class="arrow"></span>
                                            <div class="sender"><a href="#">William Pinto</a></div>
                                            <div class="text">
                                                Bien bien. Ahí dandole duro a programación. Usted como va con eso?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-message">
                                        <div class="sender pull-left">
                                            <div class="icon">
                                                <img src="~/Content/img/2.png" class="img-circle" alt="">
                                            </div>
                                            <div class="time">
                                                2 min
                                            </div>
                                        </div>
                                        <div class="chat-message-body">
                                            <span class="arrow"></span>
                                            <div class="sender"><a href="#">Uriel Carrero</a></div>
                                            <div class="text">
                                                Pues de eso quería comentarle, nada que me sale. Todavía tengo problemas con el Bootstrap, pero bueno
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-message">
                                        <div class="sender pull-right">
                                            <div class="icon">
                                                <img src="~/Content/img/1.png" class="img-circle" alt="">
                                            </div>
                                            <div class="time">
                                                2 min
                                            </div>
                                        </div>
                                        <div class="chat-message-body on-left">
                                            <span class="arrow"></span>
                                            <div class="sender"><a href="#">William Pinto</a></div>
                                            <div class="text">
                                                Deme unos 20 minutos y ya le ayudo con eso...
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-message">
                                        <div class="sender pull-left">
                                            <div class="icon">
                                                <img src="~/Content/img/2.png" class="img-circle" alt="">
                                            </div>
                                            <div class="time">
                                                1 min
                                            </div>
                                        </div>
                                        <div class="chat-message-body">
                                            <span class="arrow"></span>
                                            <div class="sender"><a href="#">Uriel Carrero</a></div>
                                            <div class="text">
                                                Ahhh listo gracias parce. Todo bien
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer class="chat-footer row">
                                    <div class="col-xs-9">
                                        <input id="new-message" type="text" class="form-control input-transparent" placeholder="Enter your message..">
                                    </div>
                                    <div class="col-xs-3">
                                        <button type="button" id="new-message-btn" class="btn btn-transparent btn-block">Send</button>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="widget large">
                        <header>
                            <h4>
                                Feed
                                <span class="label label-success">412</span>
                            </h4>
                            <div class="actions">
                                <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
                            </div>
                        </header>
                        <div class="body">
                            <div id="feed" class="feed">
                                <div class="wrapper">
                                    <div class="vertical-line"></div>
                                    <section class="feed-item">
                                        <div class="icon pull-left">
                                            <i class="fa fa-comment"></i>
                                        </div>
                                        <div class="feed-item-body">
                                            <div class="text">
                                                <a href="#">John Doe</a> commented on <a href="#">What Makes Good Code Good</a>.
                                            </div>
                                            <div class="time pull-left">
                                                3 h
                                            </div>
                                        </div>
                                    </section>
                                    <section class="feed-item">
                                        <div class="icon pull-left">
                                            <i class="fa fa-check color-green"></i>
                                        </div>
                                        <div class="feed-item-body">
                                            <div class="text">
                                                <a href="#">Merge request #42</a> has been approved by <a href="#">Jessica Lori</a>.
                                            </div>
                                            <div class="time pull-left">
                                                10 h
                                            </div>
                                        </div>
                                    </section>
                                    <section class="feed-item">
                                        <div class="icon pull-left">
                                            <img src="~/Content/img/14.png" class="img-circle" alt="">
                                        </div>
                                        <div class="feed-item-body">
                                            <div class="text">
                                                New user <a href="#">Greg Wilson</a> registered.
                                            </div>
                                            <div class="time pull-left">
                                                Today
                                            </div>
                                        </div>
                                    </section>
                                    <section class="feed-item">
                                        <div class="icon pull-left">
                                            <i class="fa fa-bolt color-orange"></i>
                                        </div>
                                        <div class="feed-item-body">
                                            <div class="text">
                                                Server fail level raises above normal. <a href="#">See logs</a> for details.
                                            </div>
                                            <div class="time pull-left">
                                                Yesterday
                                            </div>
                                        </div>
                                    </section>
                                    <section class="feed-item">
                                        <div class="icon pull-left">
                                            <i class="fa fa-database"></i>
                                        </div>
                                        <div class="feed-item-body">
                                            <div class="text">
                                                <a href="#">Database usage report</a> is ready.
                                            </div>
                                            <div class="time pull-left">
                                                Yesterday
                                            </div>
                                        </div>
                                    </section>
                                    <section class="feed-item">
                                        <div class="icon pull-left">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                        <div class="feed-item-body">
                                            <div class="text">
                                                <a href="#">Order #233985</a> needs additional processing.
                                            </div>
                                            <div class="time pull-left">
                                                Wednesday
                                            </div>
                                        </div>
                                    </section>
                                    <section class="feed-item">
                                        <div class="icon pull-left">
                                            <i class="fa fa-arrow-down"></i>
                                        </div>
                                        <div class="feed-item-body">
                                            <div class="text">
                                                <a href="#">Load more...</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="widget widget-tabs">
                        <header>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#stats" data-toggle="tab">Users</a>
                                </li>
                                <li>
                                    <a href="#report" data-toggle="tab">Favorites</a>
                                </li>
                                <li>
                                    <a href="#dropdown1" data-toggle="tab">Commenters</a>
                                </li>
                            </ul>
                        </header>
                        <div class="body tab-content">
                            <div id="stats" class="tab-pane active clearfix">
                                <h5 class="tab-header"><span class="label label-primary"><i class="fa fa-facebook"></i></span> Last logged-in users</h5>
                                <ul class="news-list">
                                    <li>
                                        <img src="~/Content/img/1.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Finees Lund</a></div>
                                            <div class="position">Product Designer</div>
                                            <div class="time">Last logged-in: Mar 20, 18:46</div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/3.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Erebus Novak</a></div>
                                            <div class="position">Software Engineer</div>
                                            <div class="time">Last logged-in: Mar 23, 9:02</div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/2.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Leopoldo Reier</a></div>
                                            <div class="position">Chief Officer</div>
                                            <div class="time">Last logged-in: Jun 6, 15:34</div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/13.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Frans Garey</a></div>
                                            <div class="position">Financial Assistant</div>
                                            <div class="time">Last logged-in: Jun 8, 17:20</div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/14.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Jessica Johnsson</a></div>
                                            <div class="position">Sales Manager</div>
                                            <div class="time">Last logged-in: Jun 8, 9:13</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="report" class="tab-pane">
                                <h5 class="tab-header"><i class="fa fa-star"></i> Popular contacts</h5>
                                <ul class="news-list news-list-no-hover">
                                    <li>
                                        <img src="~/Content/img/14.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Carolina Gomez</a></div>
                                            <div class="options">
                                                <button class="btn btn-xs btn-success">
                                                    <i class="fa fa-phone"></i>
                                                    Llamar
                                                </button>
                                                <button class="btn btn-xs btn-warning">
                                                    <i class="fa fa-envelope-o"></i>
                                                    Mensaje
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/13.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Dr. Lázaro</a></div>
                                            <div class="options">
                                                <button class="btn btn-xs btn-success">
                                                    <i class="fa fa-phone"></i>
                                                    Llamar
                                                </button>
                                                <button class="btn btn-xs btn-warning">
                                                    <i class="fa fa-envelope-o"></i>
                                                    Mensaje
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/3.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Angelina Jolie</a></div>
                                            <div class="options">
                                                <button class="btn btn-xs btn-success">
                                                    <i class="fa fa-phone"></i>
                                                    Llamar
                                                </button>
                                                <button class="btn btn-xs btn-warning">
                                                    <i class="fa fa-envelope-o"></i>
                                                    Mensaje
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/2.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Andres Reyes</a></div>
                                            <div class="options">
                                                <button class="btn btn-xs btn-success">
                                                    <i class="fa fa-phone"></i>
                                                    Llamar
                                                </button>
                                                <button class="btn btn-xs btn-warning">
                                                    <i class="fa fa-envelope-o"></i>
                                                    Mensaje
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/1.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Samuel Jackson</a></div>
                                            <div class="options">
                                                <button class="btn btn-xs btn-success">
                                                    <i class="fa fa-phone"></i>
                                                    Llamar
                                                </button>
                                                <button class="btn btn-xs btn-warning">
                                                    <i class="fa fa-envelope-o"></i>
                                                    Mensaje
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="dropdown1" class="tab-pane">
                                <h5 class="tab-header"><i class="fa fa-comments"></i> Top Commenters</h5>
                                <ul class="news-list">
                                    <li>
                                        <img src="~/Content/img/13.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Frans Garey</a></div>
                                            <div class="comment">
                                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                                sed quia
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/1.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Finees Lund</a></div>
                                            <div class="comment">
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/14.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Jessica Johnsson</a></div>
                                            <div class="comment">
                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                                deserunt.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/3.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Erebus Novak</a></div>
                                            <div class="comment">
                                                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                                                doloremque.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="~/Content/img/2.png" alt="" class="pull-left img-circle" />
                                        <div class="news-item-info">
                                            <div class="name"><a href="#">Leopoldo Reier</a></div>
                                            <div class="comment">
                                                Laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis
                                                et quasi.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="widget">
                        <header>
                            <h4>
                                Server Overview
                            </h4>
                            <div class="actions">
                                <small class="text-muted pull-right">2 days ago</small>
                            </div>
                        </header>
                        <div class="body">
                            <ul class="server-stats">
                                <li>
                                    <div class="key pull-right">CPU</div>
                                    <div class="stat">
                                        <div class="info">60% / 37&deg;C / 3.3 Ghz</div>
                                        <div class="progress progress-small">
                                            <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="key pull-right">Mem</div>
                                    <div class="stat">
                                        <div class="info">29% / 4GB (16 GB)</div>
                                        <div class="progress progress-small">
                                            <div class="progress-bar" style="width: 29%;"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="key pull-right">LAN</div>
                                    <div class="stat">
                                        <div class="info">6 Mb/s <i class="fa fa-caret-down"></i> &nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></div>
                                        <div class="progress progress-small">
                                            <div class="progress-bar progress-bar-inverse" style="width: 48%;"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <footer class="content-footer">
                Light Blue 4.0 Ajax Version - Made by <a href="https://flatlogic.com" rel="nofollow noopener noreferrer" target="_blank">Flatlogic</a>
            </footer>
        </div>
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
    <!-- common libraries. required for every page-->
    <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/lib/jquery-pjax/jquery.pjax.js"></script>
    <script src="~/Content/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="~/Content/lib/widgster/widgster.js"></script>
    <script src="~/Content/lib/underscore/underscore.js"></script>

    <!-- common application js -->
    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/js/settings.js"></script>

    <!-- common templates -->
    <script type="text/template" id="settings-template">
        <div class="setting clearfix">
            <div>Lado de Barra lateral</div>
            <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% onRight = sidebar == 'right'%>
                <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Izq</button>
                <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Der</button>
            </div>
        </div>
        <div class="setting clearfix">
            <div>Barra Lateral</div>
            <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% display = displaySidebar%>
                <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Most</button>
                <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Ocul</button>
            </div>
        </div>
    </script>

    <script type="text/template" id="sidebar-settings-template">
        <% auto = sidebarState == 'auto'%>
        <% if (auto) {%>
        <button type="button"
                data-value="icons"
                class="btn-icons btn btn-transparent btn-sm">
            Icons
        </button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-transparent btn-sm">
            Auto
        </button>
        <%} else {%>
        <button type="button"
                data-value="auto"
                class="btn btn-transparent btn-sm">
            Auto
        </button>
        <% } %>
    </script>

    <!-- page specific scripts -->
    <!-- page libs -->
    <script src="~/Content/lib/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/lib/jquery.sparkline/index.js"></script>

    <script src="~/Content/lib/backbone/backbone.js"></script>
    <script src="~/Content/lib/backbone.localStorage/build/backbone.localStorage.min.js"></script>

    <script src="~/Content/lib/d3/d3.min.js"></script>
    <script src="~/Content/lib/nvd3/build/nv.d3.min.js"></script>

    <!-- page application js -->
    <script src="~/Content/js/index.js"></script>
    <script src="~/Content/js/chat.js"></script>

    <!-- page template -->
    <script type="text/template" id="message-template">
        <div class="sender pull-left">
            <div class="icon">
                <img src="~/Content/img/2.png" class="img-circle" alt="">
            </div>
            <div class="time">
                just now
            </div>
        </div>
        <div class="chat-message-body">
            <span class="arrow"></span>
            <div class="sender"><a href="#">Tikhon Laninga</a></div>
            <div class="text">
                <%- text %>
            </div>
        </div>
    </script>

</body>
</html>